<section class="contact_form">
    <div class="container">
       <div class="form_wrap">
            <form id="form" class="wow animate__backInUp" name="form" method="GET">
                <h2 class="form_title">Напишите нам</h2>
                <div class="name_phone_wrap">
                    <div class="form_row name_wrap">
                        <label for="name" class="form-label">Ваше имя</label>
                        <input type="text" class="form-control" id="namee" name="name" data-required>
                        <div id="name_err" class="error"></div>
                    </div>
                    <div class="form_row phone_wrap">
                        <label for="phone" class="form-label">Ваш телефон</label>
                        <input type="number" class="form-control" id="phone" name="phone" data-required>
                        <div id="phone_err" class="error"></div>
                    </div>
                </div>
                <div class="form_row email_wrap">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" name="email" data-required>
                    <div id="email_err" class="error"></div>
                </div>
                <div class="form_row msg_wrap">
                    <label for="message" class="form-label">Сообщение</label>
                    <textarea class="form-control" id="message" name="message"></textarea>
                    <div id="message_err" class="form-text"></div>
                </div>
                <div class="btn_wrap">
                    <button type="submit" class="btn">Отправить</button>
                </div>
            </form>
       </div>
    </div>
</section>