<header>
    <div class="header">
        <div class="header__container">
            <div class="header__start">
                <div class="header__logo logo">
                    <a href="#" class="logo__link"><img src="img/logo.png" class="logo_img" alt="logo"></a>
                </div>

                <div class="site_name">
                    Тернопіль
                </div>

                <select class="header__lang" id="lang">
                    <option value="укр">укр</option>
                    <option value="рус">рус</option>
                    <option value="англ">англ</option>
                </select>

               <div class="header__weather weather">
                    <svg class="weather__icon">
                        <use xlink:href="img/sprite.svg#Cloud"></use>
                    </svg>
                    <div class="weather__number">+24</div>
                    <div class="weather__text"><span>Хмарно</span></div>
               </div>
            </div>
           
           <div class="header__end">
                <div class="btn_wrap">
                    <a href="#" class="btn header__btn">Перший раз у Тернополі?</a>
                </div>
                <span class="header__menu">Меню</span>
                <button class="hamburger hamburger--elastic" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button> 
           </div>
        </div>
    </div>

    <div id="mobile_menu_block">
        <div class="mmb_top">
            <div class="logo_name_wrap">
                <div class="mmb_logo">
                    <img src="img/logo.png" alt="mobile logo">
                </div>
                <div class="site_name">
                    Тернопіль
                </div>
            </div>
            <button class="hamburger hamburger--elastic" type="button">
                <span class="hamburger-box">
                <span class="hamburger-inner"></span>
                </span>
            </button> 
        </div>
        <div class="mmb_info">
            <select class="mobile__lang" id="langg">
                <option value="укр">укр</option>
                <option value="рус">рус</option>
                <option value="англ">англ</option>
            </select>
    
           <div class="mobile__weather weather">
                <svg class="weather__icon">
                    <use xlink:href="img/sprite.svg#Cloud"></use>
                </svg>
                <div class="weather__number">+24</div>
                <div class="weather__text"><span>Хмарно</span></div>
           </div>
        </div>
        <a href="#" class="mobile__btn">Перший раз у Тернополі?</a>
    </div>

    <div id="menu_shadow"></div>
    <a href="#" class="scrollup"></a>
    
</header>
